@charset 'utf-8';

#app {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-list{
    display: flex;
}

.btn-wrapper{
    gap: 4rem;
}