@charset 'utf-8';

#app {
    width: 100vw;
    height: 100vh;
    margin: 100px auto;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    perspective: 1000px;

}

.color-list{
    position: fixed;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    animation: movingCarousel 40s steps(10000,end) infinite;
}

.paused {
    animation-play-state: paused;
}


.color-list li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.color-list li img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.btn-wrapper{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: flex-end;
}

.btn-wrapper button{
    padding:5px;
    background-color: white;
    cursor: pointer;
}

@keyframes movingCarousel {
    from{
        transform: translate(-50%, -50%) rotateY(0deg) ;
    }
    to{
        transform: translate(-50%, -50%) rotateY(360deg) ;
    }
}