.main-text{
    text-align: center;
}

.signup-btn, .next-btn {
    text-decoration-line: none;
}

.personal-info {
    -ms-overflow-style: none; 
} 

.personal-info::-webkit-scrollbar{ 
    display:none; 
}

.next-btn {
    float: right;
}

.comp-btn {
    margin: auto;
    display: block;
    /* button 가운데 정렬하는 새로운 방법! */
    margin-top: 10px;
}