/* reset */
body {
    margin: 0%;
}

h1 {
    margin: 0;
    font-size: ;
    font-weight: normal;
    text-align: center;
}

:root{
    
}

/* layouts */

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}

body {
    background-color: pink;
    color: 
}

.char {
    width: 300px;
    heigh: 280px;
    background-color: antiquewhite;
}