@import 'reset.css';
@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'SpoqaHanSansNeo-Regular';
    box-sizing: border-box;
}


.txt-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'SpoqaHanSansNeo-Regular';
}

.select-box {
    position: relative;
    width: 200px;
    background-color: white;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding:13px 0 13px 14px;
    margin-bottom: 9px;
    background-image: url('Polygon 1.svg');
    background-repeat: no-repeat;
    background-position: 90%;
    text-align: left;
}


.dropbox {
    position: absolute;
    top:145px;
    width: 200px;
    visibility: hidden;
    padding: 0 8px;
    text-align: left;
    border: 1px solid #C4C4C4;
    border-radius: 14px;
    box-shadow: 4px 4px 14px 0 #00000026;
}

.on {
    visibility: visible;
}
.select-box:hover,
.select-box:focus {
    border: 1px solid rgba(155, 81, 224, 1);
    outline: 3px solid rgba(248, 228, 255, 1);
}

.dropbox li {
    font-size: 14px;
    width: 200px;
    height: 40px;
    padding: 12px 0 12px 10px; 
}

.dropbox li:hover,
.dropbox li:focus {
    background-color:rgba(248, 228, 255, 1) ;
    width: 184px;
    border-radius: 8px;
}

.dropbox li:first-child {
    margin-top: 4px;
}

.dropbox li:last-child {
    margin-bottom: 4px;
}