
@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'SpoqaHanSansNeo-Regular';
    box-sizing: border-box;
}
body,p,ul,button,img,div{
    margin: 0;
    padding: 0;
}
p{
    margin-left: 14px;
}
img {
    width: 12px;
    height: 8px;
    margin-right: 16px;
}

ul{
    list-style-type:none;
}

li {
    display: block;
}
.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.one,.two,.three {
    width:210px;
    height: 250px;
    text-align: center;
    margin-left: 20px;
}
.select-box {
    width: 200px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding:13px 0 ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
}

.default-value {
    font-size: 12px;
}

.dropbox {
    width: 200px;
    /* height: 208px; */
    text-align: left;
    border: 1px solid #C4C4C4;
    border-radius: 14px;
    box-shadow: 4px 4px 14px 0 #00000026;
}

.dropbox.hidden {
    display: none;
}

.select-box.shadow {
    border: 3px solid rgba(248, 228, 255, 1);
    border: 1px solid rgba(155, 81, 224, 1);
}
.item {
    font-size: 14px;
    width: 200px;
    height: 40px;
    padding: 12px 0 12px 18px; 
}

.item.selected {
    padding: 5px 8px 18px 8px;
    
    
}

.selected-item {
    background-color:rgba(248, 228, 255, 1) ;
    padding: 7px 144px 7px 10px;
    border-radius: 8px;
}